.profile__edit-button{
    height: 24px;
    padding-top: 10px;
    margin-bottom:0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-transition: opacity 0.4s ease;
    -o-transition: opacity 0.4s ease;
    transition: opacity 0.4s ease;

}

.profile__edit-button:hover{
    opacity: 0.6;
    cursor: pointer;
}

@media (max-width : 882px) {
    .profile__edit-button {     
        height: calc( (100vw - 320px)/(882 - 320) * (24 - 18) + 18px);
        padding-top: calc( (100vw - 320px)/(882 - 320) * (10 - 2) + 2px);
    }

}