@import url(./__avatar/profile__avatar.css);
@import url(./__info/profile__info.css);
@import url(./__name/profile__name.css);
@import url(./__button/profile__button_edit.css);
@import url(./__profession/profile__profession.css);
@import url(./__button/profile__button_add.css);
@import url(./__button/_style/profile__button_style.css);


.profile{
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;

}

@media (max-width : 620px) {
    .profile {
        flex-direction: column;
        align-content: center;
    }

}