.header__logo {
    width: 142.01px;
    height: 33.4px;
    background-image: url(../../../images/Vector.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 19px;
}


/* По моему с формулами было красивей когда страницу сжимаешь :-) */

@media (max-width : 620px) {
    .header__logo {
        width: 103.74px;
        height: 24.4px;
        margin-left: 27px;
    }
}