@import url(./__logo/header__logo.css);
@import url(./_line/header_line_bottom.css);


.header {
    max-width: 882px;
    margin: auto;
    height: 74px;
    padding-top: 45px;

}

@media (max-width : 882px) {
    .header{
        padding-top: calc( (100vw - 320px)/(882 - 320) * (45 - 28) + 28px);
        height: calc( (100vw - 320px)/(882 - 320) * (74 - 56) + 56px);
    }

}



