.header {
    max-width: 882px;
    margin: auto;
    height: 74px;
    padding-top: 45px;
    padding-left: 19px;
    padding-right: 19px;
}

.header__logo {
    max-width: 142.01px;
    max-height: 33.4px;
    
}