@import url(./__logo/header__logo.css);
@import url(./_line/header_line_bottom.css);


.header {
    max-width: 882px;
    margin: auto;
    height: 74px;
    padding-top: 45px;

}

@media (max-width : 620px) {
    .header{
        padding-top: 28px;
        height: 56px;
    }

}



