.popup__close {
    position: absolute;
    top: -45px;
    right: -45px;
    z-index: 2;
    -webkit-transition: opacity 0.4s ease;
    -o-transition: opacity 0.4s ease;
    transition: opacity 0.4s ease;
}

.popup__close:hover{
    opacity: 0.6;
    cursor: pointer;
}

@media (max-width : 530px) {
    .popup__close{
        top: -55px;
        right: -10px;
    }
}