@import url(./__copyright/footer__copyright.css);

.footer {
    max-width: 882px;
    margin: auto;
    margin-top: 66px;
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 60px;
}


@media (max-width : 882px) {
    .footer {     
        margin-top: calc( (100vw - 320px)/(882 - 320) * (66 - 48) + 48px);
        padding-bottom: calc( (100vw - 320px)/(882 - 320) * (60 - 36) + 36px);
    }

}