.profile__button_edit{
    height: 24px;
    margin-bottom: 10px;
        align-self: end;
    -webkit-transition: opacity 0.4s ease;
    -o-transition: opacity 0.4s ease;
    transition: opacity 0.4s ease;
    background-image: url(../../../images/edit_button.svg);
    background-size: contain;
    border: none;

}

.profile__button_edit:hover{
    opacity: 0.6;
    cursor: pointer;
}



@media (max-width : 620px) {
    .profile__button_edit {     
        margin-bottom: 17px;
        height: 18px;
    }

}