@import url(./__image/element__image.css);
@import url(./__place/element__place.css);
@import url(./__place/_black/element__place_black.css);
@import url(./__like/element__like.css);


.element {
    margin: auto;
    width: 282px;
    height: 361px;
    border-radius: 10px;
    background-color: white;
}