.elements__list{
    padding: 0;
    margin: auto;
    margin-top: 51px;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    grid-row-gap: 21px;
    grid-column-gap: 18px;
    justify-items: center;
}


@media (max-width : 620px) {
    .elements__list {
        grid-row-gap: 20px;
        margin-top: 36px;
    }

}